li {
  list-style-type: none;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
ul.hr {
  margin: 0;
  padding: 4px;
}
ul.hr li {
  display: inline;
  margin-right: 5px;
}
.place {
  align-content: center;
  display: flex;
}
img {
  width: 40px;
  height: 40px;
}
div.place {
  height: 400px;
  width: 200px;
  position: relative;
}
div.place p {
  margin: 960;
  position: absolute;
  top: 50%;
  padding-left: 45%;
  transform: translate(0, -50%);
}
